*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s  ease-in-out;
}
:root{
    --color1:#7D3C98 ; 
    --color2:#F0F3F4; 

}
body{
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    
}
header{
    width: 100%;
    height:100px;
    background-color: var(--color1);
}
header .logo{
    padding: 14px 25px;
    float: left;
}
header .logo  h1{
    color: white;
    font-size: 2.5em;
    line-height: 2em;
    font-weight: 900;
}
header nav ul  a{
    color: var(--color2);
   
    font-size: 1em;
  
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 16px;

}


.nav ul  {
    list-style-type: none;
    /* float: left; */
    margin-left: 16px;
}
.nav{
    padding: 42px 2px;
    float: right;
}
.nav  a:hover{
  text-decoration: underline;
}
.nav a.active{
    background: var(--color2);
    color: var(--color1);
    padding: 7px;
    border-radius: 7px;
}
.section{

    clear: both;
    width: 90%;
    margin: auto;
}
.article img{
    width: 100%;
    height: 200px;

}
.section .article{
    width: 30%;
    margin: 1.66%;
    padding: 5px;
    float: left;

}

.article .dev h2{
    color: var(--color1);
    border-bottom: 1px solid black;
    
    text-align: center;
}