*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color1:#6C3483 ;
    --color2:#F4F6F7 ;
    --shadow:#707B7C ;

}
body{
    width: 100%;
    scroll-behavior: smooth;


}
header{
    height: 100px;
    background: var(--color1);
}
header .logo h2{
    color: var(--color2);
    font-weight: bold;
    font-size: 2m;
    line-height: 2.5em;
    float: left;
}
header .logo h2{
    padding: 28px 25px;
}
nav{
    float: right;
    padding: 40px ;

  
}
nav a{
    color: #F4F6F7;
    text-decoration: none;
    /* font-size: 1.5px; */
}